.carregris {
    background-color:#f8f9fa;
    width: 40%;
    margin-top: 70px;
    padding: 30px;
}

h2 {
    text-align: center;
}

.nav-list {
    padding: 20px 20px 20px 20px;
}

.cours {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 20px;
}