.carregris {
    background-color:#f8f9fa;
    width: 40%;
    margin-top: 70px;
    padding: 30px;
}

h2 {
    text-align: center;
}

.nav-list {
    padding: 20px 20px 20px 20px;
}

.rectangleGris {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 20px;
}

#code {
    font-size: 30px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#pomotions {
    padding: 20px;
}

.crudTableau {
    text-align: end;
    display: flex;
    justify-content: end;
    gap: 10px;
}

a {
    justify-content: space-between;
}